@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category List";

}

<h2>Category List</h2>
<a asp-action="Create" class="btn btn-success">Creat New Category   </a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.id )
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name )
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
                   
                </td>
            </tr>          
        }
    </tbody>
</table>